html,
body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    color: rgba(0, 0, 0, 0.87);
    font-size: 0.875rem;
    font-weight: 400;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.46429em;
}

.controls {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    padding: 10px;
}

.color.selected .controls,
.color:hover .controls {
    visibility: visible;
    opacity: 1;
}

.colors {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.colors>div {
    position: relative;
    height: 100%;
    widows: 100%;
}

.color {
    display: inline-block;
    height: 100%;
    position: relative;
    z-index: 1;
    min-width: 150px;
}

.drag-item {
    z-index: 10;
}

.hex {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 32px 16px;
    text-align: center;
    left: 0;
    color: #212121;
}

.color-block {
    display: block;
    width: 100%;
    height: 100%;
}

.color-dark .hex {
    color: #fff;
}

/* TODO: avoid important */

.color-dark .controls button {
    color: #fff !important;
}

.color-light .controls button {
    color: #221122 !important;
}

.color-picker {
    padding: 5px;
}

.color-picker-content {
    padding: 0 0 5px;
}

.color-picker-saturation {
    position: relative;
    width: 200px;
    height: 200px;
}

@media (min-width:600px) {
    .color-picker-saturation {
        position: relative;
        width: 300px;
        height: 300px;
    }
    .color-picker {
        padding: 20px;
    }
}

.mb-3 {
    margin-bottom: 30px;
}

.color-picker-saturation {
    margin-bottom: 10px;
}

.color-picker-footer>div {
    flex: 1 1 100px;
}

.color-picker-footer .right button {
    float: right;
}

.color-picker-footer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    margin: 15px 0;
}

.logo small {
    font-size: 10px;
    vertical-align: top;
    margin: -6px 7px;
    display: inline-block;
    color: #aaa;
}

.logo {
    text-decoration: none;
    display: inline-block !important;
    margin-right: 10px;
}

.logo-by {
    display: inline-block !important;
    vertical-align: top;
    margin: 3px 0 0;
    text-decoration: none;
    color: #000;
}

.contnet {
    padding: 60px 0;
    text-align: center;
}

.d-inline-block {
    display: inline-block;
}

.github-button-wrapper {
    display: inline-block;
    margin: 10px 16px 0 0;
    vertical-align: top;
}

.palettes-list {
    padding: 32px 64px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.palettes-row {
    margin: 16px -8px 0;
}

.palette {
    display: inline-block;
    padding: 0 8px;
    margin: 0 0 10px;
}

.palette-block {
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    border-radius: 2px;
    border: 1px solid transparent;
    transition: border 0.2s ease-in-out;
}

.palette-block:hover {
    border-color: #ccc;
}

.palette-colors {
    width: 160px;
    height: 40px;
    position: relative;
    margin: 0 0 8px;
}

.palette-color {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
}